calib_mire_2d/test.m
refractionConduite/octave-workspace
refractionConduite/test.m
refractionConduite/i20/
refractionConduite/i100/
refractionConduite/i75/
refractionConduite/i50/
refractionConduite/essais iterations axes issues/
refractionConduite/essais/
refractionConduite/essais octave/
refractionConduite/essais quand aucune condition/
refractionConduite/i10/
calib_mire_2d/err std u et v/
calib_mire_2d/images ecarts val departs et calc/3en1/ecartsCam2dn.png
calib_mire_2d/images ecarts val departs et calc/3en1/ecartsCam2up.png
calib_mire_2d/images ecarts val departs et calc/cam1 u et v calc up.PNG
calib_mire_2d/images ecarts val departs et calc/cam2 u et v calc dn.PNG
calib_mire_2d/images ecarts val departs et calc/cam2 u et v calc up.PNG
calib_mire_2d/images ecarts val departs et calc/erreur_cam1_dn u et v.PNG
calib_mire_2d/images ecarts val departs et calc/erreur_cam1_up u et v.PNG
calib_mire_2d/images ecarts val departs et calc/erreur_cam2_dn u et v.PNG
calib_mire_2d/images ecarts val departs et calc/erreur_cam2_up u et v.PNG
calib_mire_2d/images ecarts val departs et calc/u et v calc dn.PNG
calib_mire_2d/M/Matrix_Cam1_dn.txt
calib_mire_2d/M/Matrix_Cam1_up.txt
calib_mire_2d/M/Matrix_Cam2_dn.txt
calib_mire_2d/M/Matrix_Cam2_up.txt
calib_mire_2d/M/test/Matrix_Cam1dn.txt
calib_mire_2d/M/test/Matrix_Cam1up.txt
calib_mire_2d/M/test/Matrix_Cam2dn.txt
calib_mire_2d/M/test/Matrix_Cam2up.txt
calib_mire_2d/images ecarts val departs et calc/3en1/cam 2dn.PNG
calib_mire_2d/images ecarts val departs et calc/3en1/ecartsCam1dn.png
calib_mire_2d/images ecarts val departs et calc/3en1/ecartsCam1up.png
extractionDonnees/cam1_z000.tif
extractionDonnees/essaiMireVueFace.PNG
extractionDonnees/mire2D8TE/11502003-2016-05-17-182355.tif
extractionDonnees/mire2D8TE/11502003-2016-05-17-182524.tif
extractionDonnees/mire2D8TE/11502003-2016-05-17-182545.tif
extractionDonnees/mire2D8TE/11502003-2016-05-17-182604.tif
extractionDonnees/mire2D8TE/11502003-2016-05-17-182628.tif
extractionDonnees/mire2D8TE/11502003-2016-05-17-182659.tif
extractionDonnees/mire2D8TE/Sans titre.tif
extractionDonnees/uv.txt
extractionDonnees/M.PNG
extractionDonnees/ecartsUV_vueface.png
extractionDonnees/ecartsUV_vueface_1.png
extractionDonnees/erreurs std U et V.PNG
extractionDonnees/Nouveau dossier/Détection_20_30degWest.PNG
extractionDonnees/Nouveau dossier/Détection_mire_20_30degEast.png
extractionDonnees/Nouveau dossier/Détection_mire_20_30degSouth.png
extractionDonnees/Nouveau dossier/Détection_mire_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/Détection_mire_70_80degEast.png
extractionDonnees/Nouveau dossier/Détection_mire_FACE.png
extractionDonnees/Nouveau dossier/M_Foscani_Toscera methode_Face.PNG
extractionDonnees/Nouveau dossier/Reconstruction_écarts_20_30degEast.png
extractionDonnees/Nouveau dossier/Reconstruction_écarts_20_30degSouth.png
extractionDonnees/Nouveau dossier/Reconstruction_écarts_20_30degWest.png
extractionDonnees/Nouveau dossier/Reconstruction_écarts_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/Reconstruction_écarts_70_80degEast.png
extractionDonnees/Nouveau dossier/Reconstruction_écarts_Face.png
extractionDonnees/Nouveau dossier/erreurs std 20_30East.PNG
extractionDonnees/Nouveau dossier/erreurs std 20_30deg_South.PNG
extractionDonnees/Nouveau dossier/erreurs std 70_80degEast.PNG
extractionDonnees/Nouveau dossier/erreurs std FACE.PNG
extractionDonnees/Nouveau dossier/erreurs std20_30degWest.PNG
extractionDonnees/Nouveau dossier/erreurs_std_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/1 - Détection_mire_FACE.png
extractionDonnees/Nouveau dossier/1 - M_Faugeras_Toscani methode_Face.PNG
extractionDonnees/Nouveau dossier/1 - M_Foscani_Toscera methode_Face.PNG
extractionDonnees/Nouveau dossier/1 - Reconstruction_écarts_Face.png
extractionDonnees/Nouveau dossier/1 - erreurs std FACE.PNG
extractionDonnees/Nouveau dossier/2 - Détection_20_30degWest.PNG
extractionDonnees/Nouveau dossier/2 - Reconstruction_écarts_20_30degWest.png
extractionDonnees/Nouveau dossier/2 - erreurs std20_30degWest.PNG
extractionDonnees/Nouveau dossier/3 - Détection_mire_20_30degEast.png
extractionDonnees/Nouveau dossier/3 - Reconstruction_écarts_20_30degEast.png
extractionDonnees/Nouveau dossier/3 - erreurs std 20_30East.PNG
extractionDonnees/Nouveau dossier/4 - Détection_mire_20_30degSouth.png
extractionDonnees/Nouveau dossier/4 - Reconstruction_écarts_20_30degSouth.png
extractionDonnees/Nouveau dossier/4 - erreurs std 20_30deg_South.PNG
extractionDonnees/Nouveau dossier/5 - Détection_mire_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/5 - Reconstruction_écarts_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/5 - erreurs_std_20_30degWestAndSouth.png
extractionDonnees/Nouveau dossier/6 - Détection_mire_70_80degEast.png
extractionDonnees/Nouveau dossier/6 - Reconstruction_écarts_70_80degEast.png
extractionDonnees/Nouveau dossier/6 - erreurs std 70_80degEast.PNG
extractionDonnees/Nouveau dossier/Water/1 - DétectionMirevueGauche.PNG
extractionDonnees/Nouveau dossier/Water/1- errstd U V Vue gauche.PNG
extractionDonnees/Nouveau dossier/Water/1- reconstructionMireVueGauche.PNG
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-163747.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-163930.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164000.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164130.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164218.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164255.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164310.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-164355.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-165140.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-165215.tif
extractionDonnees/mire2D8TE/20-05-16/11502003-2016-05-20-165246.tif
extractionDonnees/mire2D8TE/20-05-16/Thumbs.db
extractionDonnees/Nouveau dossier/Water/1ere partie.PNG
extractionDonnees/Nouveau dossier/Water/2e partie.PNG
extractionDonnees/Nouveau dossier/Water/3e partie.PNG
extractionDonnees/Nouveau dossier/Water/data.PNG
extractionDonnees/Nouveau dossier/Water/errStd.PNG
extractionDonnees/Nouveau dossier/Water/reconstruction et ecarts.PNG
extractionDonnees/Nouveau dossier/Water/wx wy u v .PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 10 ecarts.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 10 std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 10.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 11 ecarts.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 11 std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 11.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 3.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 4 err std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 4.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 5 std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 5.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 6 pli std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 6 pli.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 7_tout a droite std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 7_tout a droite.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 8 ecarts.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 8 std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 8.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 9 std.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue 9.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue droite.PNG
extractionDonnees/Nouveau dossier/Water/test apres fix 1 - 12 pt localization grid/mire vue gauchePNG.PNG
extractionDonnees/Nouveau dossier/Water/test/1 - DétectionMirevueGauche.PNG
extractionDonnees/Nouveau dossier/Water/test/1- errstd U V Vue gauche.PNG
extractionDonnees/Nouveau dossier/Water/test/1- reconstructionMireVueGauche.PNG
extractionDonnees/Nouveau dossier/Water/test/1ere partie.PNG
extractionDonnees/Nouveau dossier/Water/test/2e partie.PNG
extractionDonnees/Nouveau dossier/Water/test/3e partie.PNG
extractionDonnees/Nouveau dossier/Water/test/data.PNG
extractionDonnees/Nouveau dossier/Water/test/errStd.PNG
extractionDonnees/Nouveau dossier/Water/test/reconstruction et ecarts.PNG
extractionDonnees/Nouveau dossier/Water/test/wx wy u v .PNG
extractionDonnees/mire2D8TE/20-05-16/20-05-16.zip
